$bodyFont: Verdana;
$bodyFontSize: 13px;
$borderSize: 1px;
$borderStyle: solid;
$borderColor: #cecece;
$borderRadius: 5px;
$success: rgb(51, 168, 51);
$success-dark: rgb(23, 122, 23);
$danger: rgb(218, 45, 45);
$danger-dark: rgb(172, 2, 2);
$light: #fff;
$gray: #cecece;
$scoreBgColor: #f8f8f8;
$linkColor: rgb(201, 201, 201);
$linkHover: rgb(184, 142, 65);
